@import 'variables.scss';
@import 'mixins.scss';

*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
body {
    background-color: $color-bg;
}
.login {    
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    @include flex-c-c;
    justify-content: space-evenly;
    padding: 3.33rem 1.67rem;
    @include _1280 {
        padding: 4rem 30rem 13rem;
    }
    &__img {
        width: 8.33rem;
        @include _1280 {
            width: 12.5rem;
        }
        @include _1280min {
            width: 12.5rem;
        }
    }
    &__form {
        @include wrapper;
        @include flex-c-c;
        padding: 2rem;
        background: $color-light;
        box-shadow: 0px 0.67rem 3.33rem $color-shadow;
        border-radius: 0.67rem;
        @include _1280 {
            padding: 4rem;
        }
        @include _1280min {
            padding: 4rem;
        }
    }
    &__subtitle {
        @include font-big;
        color: $color-title;
        margin-bottom: 0.83rem;
        @include _1280 {
            margin-bottom: 1.67rem;  
        }
        @include _1280min {
            margin-bottom: 1.67rem;  
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.83rem;
        @include _1280 {
            margin-bottom: 1.67rem;  
        }
        @include _1280min {
            margin-bottom: 1.67rem;  
        }
    }
    &__label {
        font-weight: bold;
        @include font-middle;
        color: $color-title;
        padding-bottom: 0.42rem;
    }
    &__input {
        border: 1px solid $color-border;
        box-sizing: border-box;
        border-radius: 0.33rem;
        font-weight: normal;
        @include font-small;
        padding-left: 0.42rem;
        color: $color-input;
        @media (hover) {
            &:hover {
                border: 1px solid $color-input-hover;
            }
        }
        &.error {
            border: 1px solid $color-error;
        }
    }
    &__subtext {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.33rem;
        color: $color-subtext;
        margin-bottom: 1rem;
    }
    &__link {
        color: $color-link;
        font-weight: bold;
        text-decoration: underline;
        &--special {
            text-decoration: none;
        }
        @media (hover) {
            &:hover {
                color: $color-link-hover;
            }
        }
    }
    &__button {
        cursor: pointer;
        background: $color-btn;
        border-radius: 0.33rem;
        width: 100%;
        border: none;
        @include flex-c-c;
        padding: 1rem;
        font-weight: 600;
        font-size: 1.17rem;
        line-height: 1.33rem;
        color: $color-light;
        margin-bottom: 0.83rem;
        @include _1280 {
            margin-bottom: 1.67rem;
        }
        @include _1280min {
            margin-bottom: 1.67rem;
        }
        @media (hover) {
            &:hover {
                background: $color-btn-hover;
            }
        }
    }
    &__text {
        font-weight: 600;
        @include font-small;
        color: $color-input-hover;
        text-align: center;
        overflow: hidden;
        margin-bottom: 0.83rem;
        @include _1280 {
            margin-bottom: 1.67rem;
        }
        @include _1280min {
            margin-bottom: 1.67rem;
        }
        &::before, &::after {
            content: "";
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            border-top: 1px solid $color-divider;
            z-index: 2;
            position: relative;
        }
        &::after {
            margin-right: -100%; 
            left: 0.67rem; 
        }
        &::before {
            margin-left: -100%; 
            left: -8px; 
        }
    }
    &__btns {
        @include flex-c;
        justify-content: space-between;
    }
    &__btn {
        width: 31.5%;
        @include flex-c;
        justify-content: center;
        height: 3.33rem;
        border: 1px solid $color-border;
        box-sizing: border-box;
        border-radius: 0.33rem;
        text-decoration: none;
        @media (hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__social {
        display: none;
        font-weight: 600;
        @include font-middle;
        color: $color-title;
        @include _768min {
            display: flex;
            padding-left: 8px;
        }
    }
}
  